{# app/Resources/views/form/newform.html.twig #}

<html>
<head>
<title>demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body style="margin-top: 10; background-image:url(https://www.walldevil.com/wallpapers/a50/themes-desktop-wallpapers-photo-gallery-windows-plumeria-wallpaper.jpg) ">
<header>

<div style="margin: 10 580px">
<h1>{{"show.create"|trans}}</h1>
<select id="lang" style="margin: 0 400px">
    <option id="en" value="en" {%if app.request.locale=="en"%} selected{% endif %}>Eng</option>
    <option id="vi" value="vn" {%if app.request.locale=="vn"%} selected{% endif %}>Vie</option>
</select>

</div>
</header>
{{ form_start(form) }}
 
<div class="container"  >

    <div >
        {{ form_label(form.task) }}
        {{ form_errors(form.task) }}
        {{ form_widget(form.task) }}
    </div>

     <div>
        {{ form_label(form.person) }}
        {{ form_errors(form.person) }}
        {{ form_widget(form.person) }}
    </div>
<div class="row">
    <div class="col-lg-6">
        {{ form_label(form.dueDate) }}
        {{ form_errors(form.dueDate) }}
        {{ form_widget(form.dueDate) }}
    </div>

    <div >
        {{ form_label(form.endDate) }}
        {{ form_errors(form.endDate) }}
        {{ form_widget(form.endDate) }}
    </div>
</div>
    <div>
        {{ form_label(form.note) }}
        
        {{ form_widget(form.note) }}
    </div>
<div class="row" style="margin-top: 10" >
    <ul >
   
        {{ form_widget(form.save) }}
        {{ form_widget(form.reset) }}
        <a  href='{{path('show')}}' ><button type="button" class="btn-default btn">{{"form.project"|trans}}</button></a>
        
    </ul>
    </div>

</div>

{{ form_end(form) }}
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script>
   $("#lang").change(function(){
    $(location).attr("href","/"+$(this).val()+"/form")  
   })
</script>
</body>
</html>